<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Exercise 1: Create a Jupyter Notebook**

**Create a new Jupyter notebook called DataScienceEcosystem.ipynb**

**Exercise 2: Create markdown cell with title of the notebook**

**Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.**
**Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

**Write an introductory sentence about the notebook such as the follows:**

_In this notebook, Data Science Tools and Ecosystem are summarized._
**Take a screenshot of the markdown cell and name it as 3-intro.png**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science.
 - List some of the commonly used libraries used by Data Scientists.
 - Create a code cells to demonstrate some simple arithmetic expressions in Python.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.**
**Take a screenshot of the markdown cell and name it as 10-objectives.png (Images can be saved with either the .jpg or .png extension.)**

**Exercise 4 - Create a markdown cell to list data science languages**

**Start the cell with an overview line such as:**

_Some of the popular languages that Data Scientists use are:_
**Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.**
**Take a screenshot of the markdown cell and name it as 4-dslanguages.png**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

**Exercise 5 - Create a markdown cell to list data science libraries**

**Add an overview line to the cell like:**

_Some of the commonly used libraries used by Data Scientists include:_
**Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.**
**Take a screenshot of the markdown cell and name it as 5-dslibraries.png**

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. caret
4. ggplot

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

**Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.**

**Take a screenshot of the markdown cell and name it as 6-dstools.png**

|Data Science Tools|
---
|Hadoop|
|Weka|
|Tensor Flow|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

**Add a line in this cell with H3 style heading with text like:**

_Below are a few examples of evaluating arithmetic expressions in Python._
**Take a screenshot of the markdown cell and name it as 7-introarithmetic.png**

### Below are a few examples of evaluating arithmetic expressions in Python.

**Exercise 8 - Create a code cell to multiply and add numbers**

**In this code cell evaluate the expression (3*4)+5.**
**Insert a comment line before the expression to explain the operation e.g.  _This a simple arithmetic expression to mutiply then add integers._**
**Then execute the cell to ensure the expression returns the expected output of 17.**
**Take a screenshot of the code cell with output and name it as 8-multiplyandaddintegers.png**

In [53]:
## This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

**In this code cell write an expression that converts 200 minutes into hours.**
**Insert a comment line before the expression to explain the operation e.g.  _This will convert 200 minutes to hours by diving by 60._**
**Run the cell to evaluate the expression.**
**Take a screenshot of the code cell with output and name it as 9-hourstominutes.png**

In [55]:
## This will convert 200 minutes to hours by diving by 60.
round((200 / 60), 2)

3.33

**Exercise 11 - Create a markdown cell to indicate the Author's name**

**In this markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.**
**Take a screenshot of the markdown cell and name it as 11-authordetails.png**

## Author
Olha Sidelnykova